.footer {
    background-color: #464547;
    height: 170px;
}
.footer_container {
    padding-left: 145px;
    padding-top: 20px;
}
.footer_logo {
    width: 20px;
    height: 20px;
    margin: -2px;
}
.project_name{
font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 20px;
    color: #FFFFFF;
}
.footer_logo_container {
    height: 20px;
    width: 200px;
    display: flex;
    align-items: inherit;
    justify-content: center;
}
.contacts {
    margin-top: 12px;
    margin-left: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    
    color: rgba(255, 255, 255, 0.4);
}