.hero {
    background: url(../assets/Desktop_Backgrounds_1920x1200.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 800px;
}

.hero_logo {
    padding-top: 252px;
    display: block;
    width: 63px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
}

.hero_h1 {
    color: #FFFFFF;
    margin-top: 13px;
}

.hero_h3 {
    color: #FFFFFF; 
    opacity: 70%;
    margin-top: 42px;
}
