.main {
    background-color: #EEEEEE;
    height: 700px;
    
}
.main_h1 {
    padding-top: 80px;
    color: #464547;
}
.main_h3 {
    color: #666666; 
    opacity: 70%;
    margin-top: 42px;
}


article {
    font-family: Source Sans Pro, Georgia, Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    text-align: center;
    color: #000000;
    margin-top: 48px;
    padding-left: 97px;
    padding-right: 120px;
    
}
.read_more_button {
    
    font-family: Oswald Regular;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 21px;
    background: #55C2D8;
    
    border-radius: 18px;
    width: 115px;
    height: 36px;
    border: 0px;
    padding: 0px;
}

